@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

:root {
    --primary-color: #75D9FF;
    --secundary-color: #27669C;
    --backgroundBox: #F2F2F2;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border-style: var(--backgroundBox);
}

html {
    scroll-behavior: smooth;
}
html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    display: grid;
    justify-content: center;
    overflow: overlay;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    background-color: var(--primary-color);
}

.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* HOME */

/* h1 {
    margin: 2rem auto;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    min-width: 31.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secundary-color);
    gap: 20px;

}

.map {
    padding: 20px;
    background-color:  var(--backgroundBox);
}

.row {
    display: flex;
    justify-content: center;
    padding-bottom: 1.25rem;
}

.boxValue {
    display: flex;
    align-items: center;
    background-color: var(--backgroundBox);
    font-size: 6rem;
    padding: 0 .9rem;
}

.title {
    width: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width:1048px) {
    .container {
        display: grid;
    } 
}
@media screen and (max-width:647px) {
    .map iframe {
        width: 90%;
    } 
}


/* REGISTRO */

button{
    cursor: pointer;
}

.box {
    max-width: 20rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--backgroundBox);
}

form {
    display: grid;
    justify-content: center;
}

input,
textarea,
select {
    padding: .4rem;
    color: var(--secundary-color);
    margin: .4rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
}
input::placeholder, textarea::placeholder {
    color: var(--secundary-color);
    font-size: .6rem;
    font-family: 'Poppins',
        sans-serif;
}
input:focus, textarea:focus, select {
    outline: none;
}

.btnIcon {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* FOOTER */

footer {
    height: 9rem;
    width: 100%;
    background-color: var(--secundary-color);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border: .06rem solid var(--primary-color);
    color: var(--primary-color);
}

footer a.click {
    background-color: var(--primary-color);
    color: var(--secundary-color);
}